<h1>Gas</h1>



<% counter =  $arraygasdesc.length %>



<% for x in 0..counter-1 do %>

    <div class="span12">

      <li><%= $arraygasdesc[x] %></li>

      <%=$arraygas[x]%>$

    </div>


<%end%>