<%- model_class = Product -%>
<div class="page-header">
  <h1>under contruction</h1>
</div>




<h4>this is an updated response from money usa regarding the best performing mutual funds</h4>


<%=  @variable2 %>

<br>
<br>
<br>

<%=  @variable4 %>