<%- model_class = Product -%>
<div class="page-header">
  <h1>under contruction</h1>
</div>




<h4>I've changed this to get more familiar with branching and merging</h4>


<%=  @variable2 %>

<br>
<br>
<br>

<%=  @variable4 %>

<br>
<br>
<br>

<%=  @variable %>